.message-list {
    width: 100%;
    height: 690px;
    overflow: scroll;
    overflow-x: hidden;
}

.messages-divider {
    width: 100%;
    height: 4px;
    background-color: grey;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}