.message-input {
    width: 100%;
    height: 190px;
    background-color: #316879;
    align-content: flex-end;
    display: grid;
    grid-template-rows: 140px 50px;
}

.message-input-text {
    width: 90%;
    height: 110px;
    font-size: 18px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
    grid-row: 1;
}

.message-input-text:focus {
    border: 5px solid #ced7d8;
}

.message-input-button {
    grid-row: 2;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 26px;
    font-weight: bold;
    justify-self: center;
    cursor: pointer;
    background-color: white;
    color: #575757;
}

.message-input-button:hover {
    background-color: #ced7d8;
}