.own-message {
    width: 60%;
    min-width: 250px;
    background-color: #9feae5;
    display: grid;
    grid-template-rows: 40px auto 40px;
    grid-template-columns: 100px auto 50px 50px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 15px;
}

@media all and (max-width: 1300px) {
    .own-message {
        width: 95%;
        margin-left: 15px;
    }
}

.own-message .message-time {
    grid-column: 3/5;
}

.own-message .message-text {
    grid-row: 2;
    grid-column: 1/5;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
}

.own-message .message-edit {
    grid-row: 3;
    grid-column: 3;
    width: 40px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}

.own-message .message-delete {
    grid-row: 3;
    grid-column: 4;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}