.header {
    width: 100%;
    height: 65px;
    background-color: #316879;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    color: white;
}

.header-title {
    margin-left: 2%;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}

.header-last-message-date {
    margin-left: 8%;
    margin-right: 2%;
}