.message {
    width: 60%;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 40px auto 40px;
    grid-template-columns: 100px auto auto auto;
    border-radius: 15px;
    margin-top: 18px;
    margin-left: 15px;
    min-width: 300px;
}

@media all and (max-width: 1300px) {
    .message {
        width: 95%;
        margin-right: 15px;
    }
}

.message-user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    grid-row: 1/4;
    grid-column: 1;
}

.message-user-name {
    grid-column: 2;
    margin-left: 20px;
}

.message-time {
    grid-column: 3/5;
}

.message-text {
    grid-row: 2;
    grid-column: 2/5;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
}

.message-like {
    grid-row: 3;
    grid-column: 2;
    width: 40px;
    border-radius: 8px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    background-color: white;
}

.message-liked {
    width: 60%;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 40px auto 40px;
    grid-template-columns: 100px auto auto auto;
    border-radius: 15px;
    margin-top: 18px;
    margin-left: 15px;
}

.message-liked .message-like {
    background-color: #ff4e4e;
    color: white;
}